.image {
  max-width: 300px;
  max-height: 300px;
  pointer-events: none;
}

.invisible {
  display: none;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.image-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.result,
.analyze {
  position: absolute;
  width: 100%;
}
